// place your custom styles here
@font-face{
  font-family: HarmonyOS Sans SC;
  src: url("/src/.vuepress/public/assets/fonts/HarmonyOS_Sans_SC_Medium.ttf");
}

body{
  font-family: "HarmonyOS Sans SC";
}

.icp-icon{
  width: 15px;
}