// place your custom styles here
@font-face{
  font-family: "HarmonyOS Sans SC";
  src: 
    url("/assets/fonts/HarmonyOS_Sans_SC_Medium.ttf"); 
};

.icp-icon{
  width: 15px;
}

.vp-sidebar {
  .vp-sidebar-link,
  .vp-sidebar-header {
    .vp-icon {
      --icon-width: auto;
      --fa-fw-width: auto;

      width: auto;
      min-width: 0;
      flex-shrink: 0;
    }
  }
}
