// you can change colors here
$vp-c-text: (
  light: #000000,
  dark: #ffffff,
);
$vp-font: '"HarmonyOS Sans SC", -apple-system, "PingFang SC", Arial, "Microsoft Yahei", sans-serif';
$vp-font-heading: '"HarmonyOS Sans SC", -apple-system, "PingFang SC", Arial, "Microsoft Yahei", sans-serif';
